@tailwind base;
@tailwind components;
@tailwind utilities;

/*scrollbar*/
::-webkit-scrollbar {
  width: 0;
}

/*react-collapse*/
.ReactCollapse--collapse {
  transition: height 500ms;
}

/*Slider*/
.slick-prev {
  background-color: #465b85 !important;
  width: 40px !important;
  height: 40px !important;
  z-index: 5;
  border-radius: 10px;
}

.slick-next {
  background-color: #465b85 !important;
  width: 40px !important;
  height: 40px !important;
  z-index: 5;
  border-radius: 10px;
}

.slick-slide > div {
  display: grid;
  place-items: center;
  width: 80%;
  margin: auto;
  height: 100%;
  padding: 40px 0;
}

.slick-dots {
  bottom: 0 !important;
}

@media screen and (min-width: 370px) {
  .slick-slide > div {
    width: 100%;
  }
}

@media screen and (max-width: 640px) {
  .slick-arrow {
    visibility: hidden;
  }
}